html {
  background-image: url(/images/background/contact01.jpg);
  background-color: #cccccc;
  background-size: cover;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  font-weight: bold;
  color: #E19510;
}

p {
  text-align: center;
}

textarea {
  height: 200px;
}

.contact_form {
    padding-left: 8px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #edf0f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 8px;
    resize: vertical;
    font-family: "Montserrat", sans-serif;
    color: #1E07F1;
    font-size: medium;
    background-color: #ffffff;
}

input[type=submit] {
    background-color:rgba(0,136,169,1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}

input[type=submit]:hover {
    background-color:rgba(0,136,169,0.8);
}

#name1 {
  width: 40%;
  display: block;
}

#email {
  width: 40%;
  display: block;
}

#subject {
  width: 40%;
  display: block;
}

#body {
  width: 40%;
  display: block;
}