input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #edf0f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-size: medium;
  }

input[type=submit] {
    background-color: #0088a9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover {
    background-color: #0088a9;
  }

label {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  color: #edf0f1;
  }

.contact_form {
    padding: 8px;
  }

  