@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, li, a, button {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

li, ul, a.nav_anchor, button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background-color:  black;
}

div { 
    padding: 8px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    background-color:  black;
}

h1 {
    text-align: center;
}

b {
    color: #000;
}

.codelans {
    width: 18px;
    height: 18px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links {
    list-style: none;
}

a.reg-anchor {
    color:  rgba(0,136,169,0.8);
}

.logo {
    cursor: pointer;
    margin-right: 100%;
    width: 50px;
    height: 50px;
    background-color: black;
    margin-left: 0mm;
}

#contactButton {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#contactButton:hover {
    background-color:  rgba(0,136,169,0.8);
}

#jhlogo {
    margin-right: auto;
    background-color: black;   
    height: 50px;
}