html {
    background-image: url(/images/background/portfolio.jpg);
    background-color: #cccccc;
    background-size: cover;
  }

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: lightgreen;
    text-decoration: none;
}

.box01portfolio {
  background-color: darkslategrey;
  width: 48%;
}