html {
    background-image: url(/images/background/portfolio.jpg);
    background-color: #cccccc;
    background-size: cover;
  }

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: lightgreen;
    text-decoration: none;
}

.wrap {
  background-color: darkslategrey;
  width: 48%;
  display: none;
  overflow-x:hidden;
}

.slideInRight {
  animation-name: slideInRight;
  background-color: darkslategrey;
}
.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
