html {
    background-image: url(/images/background/projects2.png);
    background-color: #cccccc;
    background-size: cover;
  }

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #E19510;
    text-decoration: none;
}